@import '../../assets/css/global.less';

.articleSuccess {
  .articleSuccess-box {
    width: 265px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-group {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    button {
      height: 32px;
    }
  }
}
