@import '../../assets/css/regular.less';

.cowTagText {
  position: fixed;
  width: 560px;
  height: 280px;
  padding: 10px 20px;
  left: 50%;
  top: 50%;
  margin-left: -280px;
  margin-top: -140px;
  border-radius: 4px;
  background-color: #fff;
  z-index: 2000;
  opacity: 0;
  transform: scale(0);
  transition: .2s;
  .border();
  &.active {
    opacity: 1;
    transform: scale(1);
  }
  .cowTagText-title {
    height: 12%;
    font-size: 14px;
    i {
      padding-right: 8px;
    }
  }
  .cowTag-aInput {
    margin-top: 15px;
  }
  .cowTag-textArea {
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    vertical-align: top;
  }
  .cowTagText-btn {
    position: absolute;
    bottom: 15px;
    right: 20px;
    text-align: right;
    button {
      margin-left: 10px;
    }
  }
  .upload {
    padding-top: 10px;
    .upload-input {
      display: flex;
      justify-content: space-between;
    }
    .cowTag-aImg {
      width: 47%;
      margin-left: 10px;
    }
  }
  .upload-perviewer {
    position: relative;
    width: 200px;
    height: 135px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px dashed#bababa;
    img {
      height: 100%;
    }
    &:after {
      position: absolute;
      content: '+';
      top: 50px;
      left: 90px;
      font-size: 20px;
      color: #d1d1d1;
    }
  }
}
.cowTag-titleInput {
  margin-top: 50px;
}
.code {
  .ant-select {
    width: 100%;
  }
  .cowTag-textArea {
    height: 140px;
    max-height: 140px;
    margin-top: 12px;
  }
}
.ant-select-dropdown.ant-select-dropdown--single {
  z-index: 99999;
}
