@import '../../assets/css/global.less';

.category {
  .category-bd {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .ant-collapse {
    width: 60%;
    min-width: 600px;
  }
  .category-perview {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 10px;
    flex: 1;
    height: 500px;
    margin-left: 40px;
    border-radius: 4px;
    .border();
    .category-container {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-image: url(./images/perviewer3.jpg);
      transition: 1s;
      &:hover {
        background-image: url(./images/perviewer4.jpg);
      }
    }
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-size: 14px;
    padding-left: 35px;
    font-family: "Comic Sans MS","Arial";
    font-weight: 600;
    color: #444;
  }
  .category-list {
    li {
      position: relative;
      padding: 3px;
      font-size: 13px;
      text-indent: 13px;
      border-bottom: 1px dashed #e6e6e6;
      color: #888;
      transition: .2s;
      overflow: hidden;
      &:hover {
        background-color: #f7f7f7;
      }
      &:before {
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        top: 13px;
        left: 5px;
        border-radius: 50%;
        background-color: #ff3425;
      }
    }
    p {
      float: left;
    }
    .control {
      float: right;
      i {
        padding-left: 2px;
        transform: translateY(1px);
      }
      span {
        padding-left: 10px;
        transition: .2s;
        cursor: pointer;
        a {
          color: #888;
          &:hover {
            color: @primary;
          }
        }
        &:first-child {
          padding-right: 10px;
        }
        &:hover {
          color: @primary;
        }
      }
    }
  }
  .addItem {
    padding-top: 13px;
    text-align: right;
  }
}
.alert-container {
  padding-top: 10px;
  padding-bottom: 50px;
}
