@import './regular.less';

i{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  position :relative;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2b495d;
}
input {
  font-family: 'microsoft YaHei';
}
html,
body,
#root,
#app,
.app-wrapper {
  width: 100%;
  height: 100%;
}
.admin-container {
  flex:1;
  max-width: 1100px;
  padding: 40px;
  background-color: #fff;
}
.category-title {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 1px;
  .border(bottom);
  p {
    i {
      padding-right: 8px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}
.ant-input.err{
  border-color: #ff7474;
}
