@import './regular.less';

i{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  position :relative;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
}
input {
  font-family: 'microsoft YaHei';
}
html,
body,
#root,
#app,
.app-wrapper {
  width: 100%;
  height: 100%;
}
