@import '../../assets/css/global.less';

@id: 1;
@title: 6;
@update: 3;
@message: 1;
@watch: 1;
@control: 3;

.artcleList {
  .artcleList-topBar {
    display: flex;
    padding-bottom: 10px;
    .topBar-container {
      width: 340px;
    }
    .ant-select {
      float: left;
    }
    .ant-input-affix-wrapper {
      float: right;
    }
  }
  .artcleList-main {
    margin-top: 15px;
    border-radius: 3px;
    text-align: center;
    background-color: #fff;
    .border(all, #f4f4f4);
  }
  .main-hd {
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #f7f7f7;
    font-size: 13px;
    color: #666;
    &>div:not(:last-child) {
      .border(right);
    }
    .hd-id {
      flex: @id;
    }
    .hd-title {
      flex: @title;
    }
    .hd-update {
      flex: @update;
    }
    .hd-message {
      flex: @message;
    }
    .hd-watch {
      flex: @watch;
    }
    .hd-control {
      flex: @control;
    }
  }
  .article-list {
    li {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 13px;
      color: #393939;
      &:hover {
        background-color: #f6f6f6;
      }
      &:not(:last-child) {
        border-bottom: 1px dashed #e6e6e6;
      }
      &>div:not(:last-child) {
        .border(right);
      }
    }
    .article-id {
      flex: @id;
    }
    .article-title {
      flex: @title;
    }
    .article-update {
      flex: @update;
    }
    .article-message {
      flex: @message;
    }
    .article-watch {
      flex: @watch;
    }
    .article-control {
      flex: @control;
    }
    .control-btn {
      width: 18px;
      height: 18px;
      margin-left: 18px;
      float: left;
      cursor: pointer;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      &:last-child {
        float: right;
        margin-right: 18px;
      }
    }
  }
  .artcleList-pagination {
    padding-top: 25px;
    .ant-pagination  {
      float: right;
      .ant-pagination-prev,
      .ant-pagination-item,
      .ant-pagination-next {
        border-radius: 2px;
      }
    }
  }
}
