<div className="article-perviewer">
      <div class="perviewer">
        <img src="http://www.web-jackiee.com/uploads/allimg/170313/1-1F313043542922.jpg" />
      </div>
      <div class="des">
        <p>简述哦</p>
      </div>
      <div class="btn-group">
        <div class="btn download">
          <a href="https://ant.design/components/checkbox-cn/" target="_blank">
            <i class="iconfont icon-xiazai"></i>下载源码
          </a>
        </div>
        <div class="btn watch">
          <a href="https://ant.design/components/checkbox-cn/" target="_blank">
            <i class="iconfont icon-yanjing"></i>在线演示
          </a>
        </div>
        <div class="btn github">
          <a href="https://ant.design/components/checkbox-cn/" target="_blank">
            <i class="iconfont icon-github"></i>Github
          </a>
        </div>
      </div></div><div class="context-box">
        <div class="box-hd red">
          <span class="title"></span>
          <span class="tag">0</span>
        </div>
        <div class="box-bd">

              <div class="bd-para">
                <div class="tip">1.0 嘿嘿嘿</div>
                <div><div class="cow-code">
              <ul>

        <li>
          <div class="count">1</div>
          <div class="content">
            <code><code class="red">if</code> (isCanSubmit.statue) {</code>
          </div>
        </li>

        <li>
          <div class="count">2</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.<code class="red">$</code>Http({</code>
          </div>
        </li>

        <li>
          <div class="count">3</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;url: this.<code class="red">$</code>Constant.API.artcle.upLoadArticle,</code>
          </div>
        </li>

        <li>
          <div class="count">4</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;method: <code class="yellow">'POST'</code>,</code>
          </div>
        </li>

        <li>
          <div class="count">5</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data: {</code>
          </div>
        </li>

        <li>
          <div class="count">6</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id,</code>
          </div>
        </li>

        <li>
          <div class="count">7</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;articleInner,</code>
          </div>
        </li>

        <li>
          <div class="count">8</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;context: context.replace(<code class="yellow">/("|')/</code>g, (<code class="red">$</code><code class="violet">0</code>, <code class="red">$</code><code class="violet">1</code>)<code class="red"> =</code><code class="red">></code> <code class="yellow">"\"</code><code class="red"> + </code><code class="red">$</code><code class="violet">1</code>)</code>
          </div>
        </li>

        <li>
          <div class="count">9</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</code>
          </div>
        </li>

        <li>
          <div class="count">10</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}).then(res<code class="red"> =</code><code class="red">></code> {</code>
          </div>
        </li>

        <li>
          <div class="count">11</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log(res)</code>
          </div>
        </li>

        <li>
          <div class="count">12</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;})</code>
          </div>
        </li>

        <li>
          <div class="count">13</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;} <code class="red">else</code> {</code>
          </div>
        </li>

        <li>
          <div class="count">14</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;message.error(isCanSubmit.msg)</code>
          </div>
        </li>

        <li>
          <div class="count">15</div>
          <div class="content">
            <code>&nbsp;&nbsp;&nbsp;&nbsp;}</code>
          </div>
        </li>
              </ul>
            </div></div>
              </div>

              <div class="bd-para">
                <div class="tip">1.1 react~</div>
                <div><p>这是一个po标签</p></div>
              </div>

        </div>
      </div>
